[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nuitka = "*"
zstandard = "*"
requests = "*"
tqdm = "*"
types-requests = "*"
ordered-set = "*"
mutagen = "*"
backtrace = "*"
toml = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"
isort = "*"
types-toml = "*"

[requires]
python_version = "3.10"
