[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nuitka = "*"
zstandard = "*"
requests = "*"
tqdm = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
